<%- include("./partials/header") %>
<!-- Home Page -->

<div class="main-container">


<h1>Welcome to BlogIT</h1>
<p>Where inspiration meets information. Explore a world of captivating stories, insightful articles, and expert advice that will ignite your curiosity and enrich your journey. Join our community of passionate readers as we dive into diverse topics, from the latest trends to timeless wisdom. Unleash your thirst for knowledge and immerse yourself in a space where every word sparks a new adventure. Welcome to a place where words come alive, and ideas flourish , welcome to BlogIT</p>

</div>


<%- include("./partials/footer") %>